.container {
  width: auto;
}

.header {
  width: auto;
  padding: 20px;
  height: auto;
  background-color: #62a2d0;
}

.nav {
  width: auto;
  background-color: #89b9dc;
}

/*This is to seperate the Contact Us from the rest of the information on the website*/
.navright {
  float: right;
}

/*This is to seperate the Contact Us from the rest of the information on the website*/
.navleft {
  float: left;
  border-right: 1px solid;
  border-right-color: #ECECEA;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color:#89b9dc;
  font-size: 30px;
}

.nav a {
  display: block;
  color: #ECECEA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #FAFAFA;
}

li a.active {
  background-color: #76aed6;
}

.content {
  width: auto;
  height:auto;
  margin: 0px;
  padding: 15px;
  padding-top: 5px;
  background-color: #edf3f7;
}

#p1 {
  text-align: center;
  color: #3b8ac4;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  color:  #4bb4de;
  font-size: 23px;
}

.footer {
  width: auto;
  background-color: #edf3f7;
  margin:0px;
  height: auto;
  padding: 15px;
  border-top: 1px solid #FFFFFF;
  color: #3dafdb;
  font-size: 18px;
}

h3 {
  color: #3b8ac4;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
}
